// .sherpon-section-container--mobile {}

.sherpon-section--mobile {
  width: 100%;
  min-height: 100vh;
  // min-height: calc(var(--vh, 1vh) * 100);
  background: linear-gradient(247.1deg, #766AFA 0%, #5851EA 74.71%);
  color: #ffffff;
  display: flex;

  &__left {
    display: none;
    
    @media (min-width: 750px) {
      width: 50%;
      display: flex;
      justify-content: center;
      align-items: flex-start;
    }

    > img {
      width: 196px;
      height: 197.6px;
      margin-top: 86px;
    }
  }

  &__right {
    width: 100%;
    padding: 36px 34px 34px 34px;
    box-sizing: border-box;

    @media (min-width: 750px) {
      padding: 56px 34px 34px 34px;
      width: 50%;
    }

    &__header {
      &__title {
        font-size: 18px;
        font-weight: 700;
      }
      &__text {}
    }

    &__description {
      margin-top: 26px;

      &__title {
        > img.mobile {
          display: block;

          @media (min-width: 750px) {
            display: none;
          }
        }
        > img:not(mobile) {
          display: none;

          @media (min-width: 750px) {
            display: block;
          }
        }
      }
      &__text {}
    }

    &__role {
      margin-top: 26px;

      &__title {
        font-size: 18px;
        font-weight: 700;
      }
      &__text {}
    }

    &__technologies {
      margin-top: 26px;

      &__title {
        font-size: 18px;
        font-weight: 700;
      }
      &__text {}
    }

    &__architecture {
      margin-top: 26px;

      &__title {
        font-size: 18px;
        font-weight: 700;
      }
      &__text {
        text-align: center;

        @media (min-width: 750px) {
          text-align: unset;
        }

        > img {
          margin-top: 21px;
          width: 253px;
          height: 204px;
        }
      }
    }
  }

  ul {
    list-style: none;
  }
}